body {
    background-color: #707070;
}

.jumbotron {
    background-image: url(/images/hero-bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin:3%;
    border-radius: 15px;
}


.jumbotron .container {
    padding-top: 100px;
    color: darkviolet;
}

header {
    width:100%;
    z-index: 1000000000;
    background-color: #707070;
    height:70px;
}

footer {
    height: 150px;
}

.bg-light { 
    background-color: #707070 !important;
}